.App {
  text-align: center;
}

.content {
  background-color: aqua;
  position: absolute;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin-top: 0px !important;
  padding-top: 0px !important;
  width: 100%;
  height: 100%;
  font-family: "Varela Round";
}

#topNav {
  background-color: orange;
  height: 3.5rem;
  position: sticky;
  width: 100%;
  margin-top: 0px;
  text-align: center;
}

.menuLink {
  position: relative;
  text-decoration: none;
  font-size: 1.8rem;
  margin-top: 10% !important;
  padding: 1rem;
  padding-top: 33% !important;
  color: purple;
  background-color: #61dafb;
}

.banner {
  width: 100%;
  height: 80vh;
  background-color: red;
  margin-top: 0 !important;
  padding-top: 0 !important;
}

#bannerText {
  padding-top: 30vh;
}

.split-left {
  width: 50%;
  height: 80vh;
  background-color: teal;
}

.carousel {
  max-width: 100%;
  background-color: green;
  position: relative;
  padding-bottom: 4%;
}
.movingElements {
  position: relative;
  background-color: yellowgreen;
  margin: 2% 10% 2% 10%;
}

.propertySlide {
  position: relative;
  background-color: red !important;
  width: 23%;
  float: left;
  display: inline !important;
}
.margin-2 {
  margin-left: 2%;
}
#searchCompareBook {
  display: inline-block;
  position: relative;
  background-color: blue;
}

.column-full-width {
  margin: 0 10% 5% 10%;
}

.App-title {
  padding-top: 5%;
}

.featuredProperty {
  display: inline;
  background-color: yellow;

  width: 25%;
}

#middle {
  margin-left: 2%;
  margin-right: 2%;
}
